@import "tailwindcss";

body {
  background-color: rgba(92, 171, 255, 0.12);
}

/* .dashboard-shadow {
  position: relative;
}

.dashboard-shadow::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(49% 49% at 50% 50%, rgba(94, 135, 215, 0) 0%, #5E87D7 100%);
  filter: blur(20px);
  mix-blend-mode: lighten;
  opacity: .6;
  z-index: -1;
} */

.glassmorphism-effect {
    background: rgba(255, 255, 255, 0.2); /* Transparent white */
    backdrop-filter: blur(15px); /* Blur effect */
    -webkit-backdrop-filter: blur(15px);
    border-radius: 23px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


